
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Header
    {
    <p>Render section ile bu satır headerın içinde yazacaktır.</p>
}
<h1>Index</h1>

@section Footer{
    <p>burası footer.</p>
}